
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.chat-window {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.message {
  margin: 10px 0;
}

.message.user {
  text-align: right;
}

.message.ai {
  text-align: left;
}

.message-text {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.message.user .message-text {
  background: #dcf8c6;
}

.message.ai .message-text {
  background: #ececec;
}

.input-form {
  display: flex;
  justify-content: space-between;
}

.input-field {
  width: 83%;
  padding: 10px;
}

.submit-button {
  padding: 10px 20px;
  
}

.youtube-video {
  margin: 10px 0;
  width: 300px;
  height: 200px;
}

.recommendation-button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recommendation-button:hover {
  background-color: #333333;
}

.music-note {
  font-size: 3rem;
  margin-right: 10px;
  color: #ff5733; /* 센스있고 멋있는 오렌지색 */
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

